<div class="col-md-12 ibox ibox-content">
  <div class="ibox-content form-horizontal m-t">
    <div class="form-group">
      <%= form_for(@relationdef,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
          <div class="form-group">
            <label class="col-sm-3 control-label">关系：</label>
            <div class="col-sm-5">
              <%= f.text_field :relation,class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-5 text-right">
              <%= f.submit '确定',class: "btn btn-w-m btn-primary ",id:'smt' %>&nbsp;<%= link_to "返回",relationdefs_path,class: "btn btn-w-m btn-primary " %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
