<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>新增管理员</h3>
    </div>
    <%= render 'form', admin: @admin %>
  </div>
</div>
<%=render 'layerend' %>