
<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>



    </div>
    <h3>浏览器版本太低或不符合要求</h3>
    <div>
      <span>您的浏览器不符合操作要求，建议使用谷歌浏览器以达到最佳用户体验</span>
    </div>


  </div>
</div>

