<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>编辑银行卡</h3>
    </div>
    <%= render 'form', card: @card %>
  </div>
</div>
<%=render 'layerend' %>